.navbar {
  height: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.logo .dot {
  color: rebeccapurple;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  width: 28px;
  height: 28px;
}

.social img:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .wrapper {
    justify-content: flex-end;
    padding: 20px;
  }
}
